{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex flex-row">
	<a type="button" class="btn btn-secondary mx-1" href="{{ path('app_account') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Back">
		<i class="fa-solid fa-arrow-left"></i>
	</a>
	<button class="btn btn-success mx-1">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
