{% extends 'base.html.twig' %}

{% block title %}Edit account
{% endblock %}

{% block body %}
	<h1>Edit account</h1>
		{{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
