{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% else %}
			<h3 class="mb-3 font-weight-normal text-center">Please sign in</h3>

			<div class="mt-3">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			</div>
			<div class="mt-3">
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="checkbox my-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Remember me
				</label>
			</div>

			<div class="d-flex align-items-center justify-content-center">
				<button class="btn btn-lg btn-primary" type="submit">
					Sign in
				</button>
				<div class="d-flex flex-row ml-5">
					<div class="d-flex align-items-center justify-content-around mx-3">No account?</div>
					<a class="btn btn-lg btn-outline-primary" href="{{ path('app_register') }}">Register</a>
				</div>
			</div>
		{% endif %}


	</form>
{% endblock %}
