{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<h1>Welcome to the Messages Master App!</h1>
	<h6 class="mt-3">You're logged as
		{{ app.user.email }}.</h6>
	{% if app.user.isVerified %}
		<div class="d-flex flex-row align-items-center justify-content-center mt-3">
			<a href="{{ path('app_home') }}">
				<div class="d-flex flex-column bg-primary text-light shadow-lg py-3 rounded mx-3" style="width: 8rem;">
					<h1 class="text-center">
						<i class="fa-solid fa-house"></i>
					</h1>
					<h5 class="text-center">Home</h5>
				</div>
			</a>
			<a href="{{ path('app_message') }}">
				<div class="d-flex flex-column bg-primary text-light shadow-lg py-3 rounded mx-3" style="width: 8rem;">
					<h1 class="text-center">
						<i class="fa-solid fa-comment"></i>
					</h1>
					<h5 class="text-center">Messages</h5>
				</div>
			</a>
			{% if "ROLE_ADMIN" in app.user.roles %}
				<a href="{{ path('app_user_index') }}">
					<div class="d-flex flex-column bg-primary text-light shadow-lg py-3 rounded mx-3" style="width: 8rem;">
						<h1 class="text-center">
							<i class="fa-solid fa-users"></i>
						</h1>
						<h5 class="text-center">Users</h5>
					</div>
				</a>
			{% endif %}
		</div>
		<div class="d-flex flex-row align-items-center justify-content-center mt-3">
			<a href="{{ path('app_account') }}">
				<div class="d-flex flex-column bg-primary text-light shadow-lg py-3 rounded mx-3" style="width: 8rem;">
					<h1 class="text-center">
						<i class="fa-solid fa-user"></i>
					</h1>
					<h5 class="text-center">Account</h5>
				</div>
			</a>
			<a href="{{ path('app_logout') }}">
				<div class="d-flex flex-column bg-primary text-light shadow-lg py-3 rounded mx-3" style="width: 8rem;">
					<h1 class="text-center">
						<i class="fa-solid fa-right-from-bracket"></i>
					</h1>
					<h5 class="text-center">Logout</h5>
				</div>
			</a>
		</div>
	{% else %}
		<p class="text-danger">You're account is not verified, please check your emails, spams or contact the administrator.
		</p>
	{% endif %}

{% endblock %}
