{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h3 class="mb-3 font-weight-normal text-center">Please register</h3>

	{{ form_start(registrationForm) }}
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.firstname) }}
	{{ form_row(registrationForm.lastname) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}
	<div class="d-flex align-items-center justify-content-center">
		<button class="btn btn-lg btn-primary" type="submit">
			Register
		</button>
		<div class="d-flex flex-row ml-5">
			<div class="d-flex align-items-center justify-content-around mx-3">Already have an account?</div>
			<a class="btn btn-lg btn-outline-primary" href="{{ path('app_login') }}">Sign in</a>
		</div>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
