<form method="post" action="{{ path('app_message_queue_delete', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-danger mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete message in the queue"><i class="fa-solid fa-trash-can"></i></button>
</form>
