{% extends 'base.html.twig' %}

{% block title %}Edit message n°{{ message.id }}
{% endblock %}

{% block body %}
	<h1>Edit sending date for the message n°{{ message.id }}</h1>
	{{ include('message/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
