{% extends 'base.html.twig' %}

{% block title %}Messages sent
{% endblock %}

{% block body %}
	<div class="row align-items-center mb-2">
		<div class="col-6">
			<h1>Messages sent</h1>
		</div>
		{% if app.user.isVerified %}
			<div class="col-6 d-flex justify-content-end">
				<a type="button" class="btn btn-primary mx-1" href="{{ path('app_message_queue') }}">
					<i class="fa-regular fa-paper-plane"></i>
					Unsent messages</a>
				<button type="button" class="btn btn-warning btn-reload" onClick="window.location.reload();">
					<i class="fa-solid fa-rotate-right"></i>
					Refresh</button>
				<a type="button" class="btn btn-success mx-1" href="{{ path('app_message_new') }}">
					<i class="fa-solid fa-plus"></i>
					New message</a>
			</div>
		</div>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Content</th>
						<th scope="col">Is on discord</th>
						<th scope="col">Is on slack</th>
						<th scope="col">Delivered at</th>
					</tr>
				</thead>
				<tbody>
					{% for message in messages %}
						<tr>
							<td>{{ message.message }}</td>
							<td>
								{% if message.isOnDiscord %}
									<i class="fa-solid fa-check text-success"></i>
								{% else %}
									<i class="fa-solid fa-xmark text-danger"></i>
								{% endif %}
							</td>
							<td>
								{% if message.isOnSlack %}
									<i class="fa-solid fa-check text-success"></i>
								{% else %}
									<i class="fa-solid fa-xmark text-danger"></i>
								{% endif %}
							</td>
							<td>
								{{ message.deliveredAt|date('d/m/Y H:i') }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p class="text-danger">You're account is not verified, please check your emails, spams or contact the administrator.
		</p>
	{% endif %}
	<script>
		$('.btn-reload').on('click', function (event) {
event.preventDefault();
window.location.reload();
});
	</script>
{% endblock %}
