{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Create new Message</h1>

    {% if app.user.isVerified %}

    {{ include('message/_form.html.twig') }}

	{% else %}
		<p class="text-danger">You're account is not verified, please check your emails, spams or contact the administrator.
		</p>
	{% endif %}

{% endblock %}