{% extends 'base.html.twig' %}

{% block title %}Messages sent
{% endblock %}

{% block body %}
	<div class="row align-items-center mb-2">
		<div class="col-6">
			<h1>Messages sent</h1>
		</div>
		{% if app.user.isVerified %}
			<div class="col-6 d-flex justify-content-end">
				<a type="button" class="btn btn-primary mx-1" href="{{ path('app_message') }}">
					<i class="fa-solid fa-paper-plane"></i>
					Sent messages</a>
				<button type="button" class="btn btn-warning btn-reload" onClick="window.location.reload();">
					<i class="fa-solid fa-rotate-right"></i>
					Refresh</button>
				<a type="button" class="btn btn-success mx-1" href="{{ path('app_message_new') }}">
					<i class="fa-solid fa-plus"></i>
					New message</a>
			</div>
		</div>
		<div class="container">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Message number</th>
						<th scope="col">Created at</th>
						<th scope="col">Available at</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for message in messages %}
						<tr>
							<td>{{ message.id }}</td>
							<td>
								{{ message.createdAt|date_modify('+1 hours')|date('d/m/Y H:i') }}
							</td>
							<td>
								{{ message.availableAt|date_modify('+1 hours')|date('d/m/Y H:i') }}
							</td>
							<td>
								<div class="d-flex flex-row">
									<a type="button" class="btn btn-warning mx-1" href="{{ path('app_message_queue_edit', {'id': message.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit message datetime">
										<i class="fa-solid fa-pencil"></i>
									</a>
									{{ include('message/_delete_form.html.twig') }}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<p class="text-danger">You're account is not verified, please check your emails, spams or contact the administrator.
		</p>
	{% endif %}
	<script>
		$('.btn-reload').on('click', function (event) {
event.preventDefault();
window.location.reload();
});
	</script>
{% endblock %}
