<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>💬</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% if app.user %}
			{% include ('navbar.html.twig') %}
		{% else %}
			<div class="container-fluid mt-5 text-center">
				<h1>Welcome to the Messages Master app</h1>
			</div>
		{% endif %}
		<div class="container bg-light shadow-lg p-5 mt-5"> {% block body %}{% endblock %}</div>
		</body>
	</html>
