<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">💬 Messages Master</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
			<div class="navbar-nav d-flex align-items-center justify-content-between w-100">
				<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}"><i class="fa-solid fa-house"></i> Home</a>
				{% if app.user.isVerified %}
					<a class="nav-link" aria-current="page" href="{{ path('app_message') }}"><i class="fa-solid fa-comment"></i> Messages Management</a>
				{% endif %}
				{% if ("ROLE_ADMIN" in app.user.roles) and (app.user.isVerified) %}
					<a class="nav-link" aria-current="page" href="{{ path('app_user_index') }}"><i class="fa-solid fa-users"></i> Users Management</a>
				{% endif %}
				<a class="nav-link" aria-current="page" href="{{ path('app_account') }}"><i class="fa-solid fa-user"></i> My account</a>
				<a class="nav-link" href="{{ path('app_logout') }}">
					<i class="fa-solid fa-right-from-bracket"></i> Logout
				</a>
			</div>
		</div>
	</div>
</nav>
