<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete user"><i class="fa-solid fa-trash-can"></i></button>
</form>
