{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="row align-items-center mb-2">
		<div class="col-6">
			<h1>User list</h1>
		</div>
		<div class="col-6 d-flex justify-content-end">
			<a type="button" class="btn btn-success" href="{{ path('app_user_new') }}"><i class="fa-solid fa-plus"></i> Create a new user</a>
		</div>
	</div>
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">Firstname</th>
					<th scope="col">Lastname</th>
					<th scope="col">Roles</th>
					<th scope="col">Is verified</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.email }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>
							{% for role in user.roles %}
								{{ role }}
							{% endfor %}
						</td>
						<td>
							{% if user.isVerified %}
								<i class="fa-solid fa-check text-success"></i>
							{% else %}
								<i class="fa-solid fa-xmark text-danger"></i>
							{% endif %}
						</td>
						<td>
							<div class="d-flex flex-row">
								<a type="button" class="btn btn-secondary mx-1" href="{{ path('app_user_show', {'id': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Show user details">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a type="button" class="btn btn-warning mx-1" href="{{ path('app_user_edit', {'id': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit user">
									<i class="fa-solid fa-pencil"></i>
								</a>
								{{ include('user/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
