{% extends 'base.html.twig' %}

{% block title %}
	{{ user.firstname }}
	{{ user.lastname }}
{% endblock %}

{% block body %}
	<h1>{{ user.firstname }}
		{{ user.lastname }}</h1>

	<table class="table table-striped my-3">
		<tbody>
			<tr>
				<th>Firstname</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>
					{% for role in user.roles %}
						{{ role }}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Is verified</th>
				<td>
					{% if user.isVerified %}
						<i class="fa-solid fa-check text-success"></i>
					{% else %}
						<i class="fa-solid fa-xmark text-danger"></i>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex flex-row">
		<a type="button" class="btn btn-secondary mx-1" href="{{ path('app_user_index') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Back">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<a type="button" class="btn btn-warning mx-1" href="{{ path('app_user_edit', {'id': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit user">
			<i class="fa-solid fa-pencil"></i>
		</a>
		{{ include('user/_delete_form.html.twig') }}
	</div>
{% endblock %}
